
*{
    font-family: 'Varela Round', sans-serif;
}


body{
    background: linear-gradient(#79B4B7,#FEFBF3,#F8F0DF,#9D9D9D);
}


.fotominha{
    width: 250px;
    height: 300px;
    border-radius: 15%;
    border-style: solid;
    border-color: black;
}


section{
    padding-top: 30px;
    padding-bottom: 30px;
}


.redessociais a i{
    font-size: 35px;

}



.redessociais{
    display: flex;

}


.redessociais a{
    padding: 0px 10px 0px 0px;

}


.navnav{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}



h4{
    padding-top: 20px;
}


.projetosimg{
    border-style: solid;
    border-radius: 20%;
    border-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}


.dropdown-toggle{
    border: rgb(0, 0, 0) solid;
}
 

.butao div{
display: flex;
justify-content: end;
padding-top: 20px;
}


.dropproj{
padding-bottom: 20px;
}


.maisproj button{
    border: rgb(0, 0, 0) solid;
}


.expimg{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 20%;
    border-color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


.p2{
    text-align: justify;
    max-width: 60%; 
}


.exp2{
    padding-top: 20px;
}


.repositorios{
    padding-bottom: 20px;
}

#repositorios{
    background:rgba(141, 87, 0, 0.2);
}

.reptit{
    display: flex;
    justify-content: center;
}


.repbutton{
    padding-top: 10px;
    text-align: center;    
}

.maisrep button{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

.recomendtit{
    padding-bottom: 20px;
}

p3{
    font-size: 20px;
}

footer{
    background-color: #112031;
}

.pfooter{
    color: white;
    text-align: center;
}

.videos{
    margin-top: 5px;
}


